@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

.container {
    width: 61.5%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

ul li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
}

.posi-rele {
    position: relative;
}

.posi-ab {
    position: absolute;
}

.space-between {
    justify-content: space-between;
}

.bg-primary {
    background: #e74c3c !important;
}

/* PreLoder */


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 1999;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    z-index: 2000;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../images/pre-loader.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}


header {
    position: absolute;
    z-index: 11;
    width: 100%;
}

.main-header {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.menus ul li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.4583rem + 0.3472vw, 0.875rem);
    padding-left: clamp(0.5625rem, 0.1042rem + 0.9549vw, 1.25rem);
    transition: all .5s;
    color: #f4f5f9;
    position: relative;
}

.menus ul li a::after {
    content: "";
    border-bottom: 2px solid #e74c3c;
    width: 0;
    position: absolute;
    bottom: -15px;
    left: 15px;
    visibility: hidden;
    transition: all .5s;
}

.menus ul li a:hover,
.menus ul li a.active {
    color: #e74c3c;
}


.menus ul li a:hover::after,
.menus ul li a.active::after {
    visibility: visible;
    width: 85%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide::after {
    content: "";
    position: absolute;
    background: #000;
    opacity: 0.702;
    width: 100%;
    height: 100%;
    z-index: 13;
    clip-path: polygon(0% 0%, 100% 0, 100% 87%, 51% 100%, 0 87%);
}

.logo img {
    width: clamp(5.625rem, 4.9875rem + 3.1875vw, 8.8125rem);
}

.banner-content {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 14;
}

.banner-text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: clamp(0.5rem, 0.3333rem + 0.3472vw, 0.75rem);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #f4f5f9;
}

.banner-text span {
    font-size: clamp(0.8125rem, 0.675rem + 0.6875vw, 1.5rem);
}

.banner-text h1 {
    font-size: clamp(1.3125rem, 0.675rem + 3.1875vw, 4.5rem);
    font-family: 'Open Sans', sans-serif;
}

.banner-text p {
    font-size: clamp(0.625rem, 0.5625rem + 0.3125vw, 0.9375rem);
    color: #cbc6c0;
}

.banner-btn {
    margin-top: 15px;
    display: flex;
    gap: clamp(0.9375rem, 0.8125rem + 0.625vw, 1.5625rem);
}

.banner-btn a {
    display: inline-block;
    padding: 12px 0;
    font-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem);
    width: clamp(6.25rem, 5rem + 6.25vw, 12.5rem);
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: 16px;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 13px;
    border-radius: 4px;
    margin-right: 20px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: 16px;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 13px;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 0;
}

.menus img {
    width: 20px;
    filter: invert(1);
    display: none;
}

.get-btn {
    outline: 1px solid #e74c3c;
    background: #e74c3c;
    color: #fff;
    transition: all .5s;
}

.get-btn:hover {
    outline: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.learn-btn {
    outline: 1px solid #fff;
    color: #fff;
    transition: all .5s;
}

.learn-btn:hover {
    outline: 1px solid #e74c3c;
    background: #e74c3c;
    color: #fff;
}

.down-arrow {
    bottom: -40px;
    z-index: 15;
    width: 100%;
    text-align: center;
}

.down-arrow img {
    width: clamp(3.125rem, 2.825rem + 1.5vw, 4.625rem);
}

.weare-section {
    padding-top: clamp(1.875rem, 1rem + 4.375vw, 6.25rem);
    padding-bottom: clamp(1.875rem, 1rem + 4.375vw, 6.25rem);
}

.we-box {
    width: 24.5%;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
    text-align: center;
    transition: all .5s;
}

.we-img-box {
    border: 1px solid #999999;
    width: 72px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    transition: all .5s;
}

.we-box:hover .we-img-box {
    transform: rotate(45deg);
    border: 1px solid #e74c3c;
}

.we-box:hover .we-img-box img {
    transform: rotate(-48deg);
}

.we-box:hover h2 {
    color: #e74c3c;
}

.we-boxes {
    justify-content: space-between;
}

.we-box h2 {
    font-size: clamp(0.875rem, 0.7702rem + 0.2956vw, 1.125rem);
    font-family: 'Open Sans', sans-serif;
    font-size: 600;
}

.we-box p {
    font-size: clamp(0.75rem, 0.6976rem + 0.1478vw, 0.875rem);
    color: #999999;
    font-family: 'Source Sans Pro', sans-serif;
}

.history-section {
    background: #80808052;
    padding-top: clamp(2.1875rem, 1.375rem + 4.0625vw, 6.25rem);
    padding-bottom: clamp(2.1875rem, 1.375rem + 4.0625vw, 6.25rem);
}

.monitor,
.our-history {
    width: 50%;
}

.monitor img {
    width: 100%;
}

.our-history {
    padding-left: clamp(1.25rem, 0.4642rem + 2.2173vw, 3.125rem);
}

.our-history h2 {
    border-left: 5px solid #e74c3c;
    padding-left: 20px;
    font-size: clamp(1.375rem, 1.0083rem + 1.0347vw, 2.25rem);
    letter-spacing: 3px;
    color: #6a6a6a;
    font-weight: 700;
    font-family: "Source Sans Pro";
}

.our-history p {
    font-size: clamp(0.75rem, 0.6452rem + 0.2956vw, 1rem);
    padding: 20px 0;
    color: #999999;
    font-weight: 400;
    font-family: "Source Sans Pro";
}

.brows-btn {
    margin-top: clamp(0.5rem, 0.1857rem + 0.8869vw, 1.25rem);
    display: inline-block;
    padding: 12px 0;
    font-size: clamp(0.75rem, 0.6452rem + 0.2956vw, 1rem);
    width: clamp(7.5rem, 5.4047rem + 5.9128vw, 12.5rem);
    outline: 1px solid #e74c3c;
    background: #e74c3c;
    color: #fff;
    text-align: center;
    font-family: "Source Sans Pro";
    transition: all .5s;
}

.brows-btn:hover {
    background-color: #fff;
    color: #000;
}

.our-service-text {
    padding-top: clamp(1.875rem, -1.0417rem + 6.0764vw, 6.25rem);
    padding-bottom: clamp(1.875rem, -1.0417rem + 6.0764vw, 6.25rem);
    width: 55%;
    background-color: #202020;
    text-align: right;
}

.our-service-text h2 {
    border-right: 5px solid #e74c3c;
    padding-right: 20px;
    font-size: clamp(1.25rem, 0.5833rem + 1.3889vw, 2.25rem);
    letter-spacing: 3px;
    color: #f4f5f9;
    font-weight: 700;
    font-family: "Source Sans Pro";
    margin-right: 60px;
}

.slick-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
    width: auto;
    rotate: 90deg;
    bottom: auto;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    height: clamp(0.0625rem, 0.0375rem + 0.125vw, 0.1875rem);
    border-radius: 5px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: #6a6a6a;
}

.slick-dots li button {
    width: 100%;
    height: 100%;
}

.slick-dots .slick-active {
    background: #e74c3c !important;
}

.slick-slide img {
    width:clamp(3.75rem, 3.5875rem + 0.8125vw, 4.5625rem);
    display: block;
    margin-left: auto;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 99;
}

.myslider {
    transform: translateX(30px);
}

.web-box {
    padding-top: clamp(1.25rem, 0.4167rem + 1.7361vw, 2.5rem);
    padding-bottom: clamp(1.25rem, 0.4167rem + 1.7361vw, 2.5rem);
    padding-right: 90px;
    /* background-image: url(../images/print-design.png);
    background-repeat: no-repeat;
    background-position: right; */

}

.web-box h4 {
    font-size: clamp(0.875rem, 0.7083rem + 0.3472vw, 1.125rem);
    color: #e74c3c;
    font-weight: 600;
    font-family: "Open Sans";
}

.web-box p {
    width: 60%;
    margin-left: auto;
    line-height: clamp(1.125rem, 0.8333rem + 0.6076vw, 1.5625rem);
    font-size: clamp(0.8125rem, 0.7292rem + 0.1736vw, 0.9375rem);
    color: #999999;
    font-weight: 400;
    padding: 12px 0 0 0;
    font-family: "Source Sans Pro";
}

.wd-icon {
    margin-left: 30px;
}

.left-our {
    left: 50px;
    position: absolute;
    top: 45%;
}

.our-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.our-service-img {
    width: 45%;
    position: relative;
    z-index: -1;
}

.our-service-img img {width: 100%; height: 100%;}

.recent-works {
    padding-top: clamp(1.5625rem, 1.25rem + 1.5625vw, 3.125rem);
    padding-bottom: clamp(1.5625rem, 1.25rem + 1.5625vw, 3.125rem);
    background-color: #f4f5f9;
}

.recent-heading {
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}

.rec-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e74c3c;
}

.tab-link li {
    display: inline-block;
}

.tab-link li.tab-active {
    color: red;
}

.tab-link li.tab-active a {
    color: inherit;
}

.tc {
    overflow: hidden;
    padding: 20px 0;
}

.tc div:not(:first-child) {
    display: none;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

#tab1 img {
    width: 100%;
}

/* .tabs img:hover {
    filter: contrast(50%);
    transition: all .7s;
} */

.element-item:hover .rec-overlay {
    opacity: 0.800;
}

.r-text {
    font-size: clamp(0.5625rem, 0.5rem + 0.3125vw, 0.875rem);
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    position: absolute;
    bottom: 10px;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.r-text h3 {
    font-size: clamp(0.6875rem, 0.525rem + 0.8125vw, 1.5rem);
    font-weight: 600;
    position: relative;
}

.r-text h3::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 4px;
    background-color: #ffffff;
    left: 0;
    top: -10px;
}

.recent-heading h2 {
    font-size: clamp(1.125rem, 0.9rem + 1.125vw, 2.25rem);
    letter-spacing: 3px;
    font-weight: 700;
    color: #6a6a6a;
    font-family: "Source Sans Pro";
}

.recent-heading p {
    font-size: clamp(0.625rem, 0.575rem + 0.25vw, 0.875rem);
    color: #999999;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.recent-links {
    padding: 12px 0;
}

.recent-links ul li a {
    font-size: 14px;
    color: #999999;
    font-weight: 400;
    font-family: "Open Sans";
}

.recent-links ul li a:hover,
.recent-links ul li a.active {
    transition: all .5s;
    color: #e74c3c;
}

.recent-links ul li span {
    padding: 0 20px;
}

.img-column {
    padding-top: 20px;
    column-count: 4;
    column-gap: 0;
}

.img-column img {
    width: 100%;
}

.case-study {
    padding-top: clamp(0.625rem, 0.125rem + 2.5vw, 3.125rem);
    padding-bottom: clamp(0.625rem, 0.125rem + 2.5vw, 3.125rem);
    background-color: #f4f5f9;
}

.case-wrapper {
    padding-top: clamp(1.5625rem, 1.25rem + 1.5625vw, 3.125rem);
    justify-content: center;
    align-items: center;
}

.case-left {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 55%;
    padding: 50px 0;
    position: relative;
    left: 50px;
    font-family: "Open Sans"
}

.case-left h3 {
    font-size: clamp(0.8125rem, 0.4784rem + 0.5388vw, 1.125rem);
    color: #6a6a6a;
    font-weight: 600;
}

.case-left p {
    font-size: clamp(0.6875rem, 0.625rem + 0.3125vw, 1rem);
    width: 60%;
    text-align: center;
    color: #6a6a6a;
}

.case-btn {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 15px;
    font-size: clamp(0.6875rem, 0.5625rem + 0.2604vw, 0.875rem);
    transition: all .5s;
}

.case-btn:hover {
    background: #999999;
    color: #000;
}

.case-right {
    width: 45%;
    right: 0;
}

.case-right img {
    width: 100%;
}

.fav-sec {
    background-image: url(../images/bg-back.png);
    height: auto;
    background-position: center;
    background-size: cover;
    padding-top: clamp(5.625rem, 4.875rem + 3.75vw, 9.375rem);
    padding-bottom: clamp(5.625rem, 4.875rem + 3.75vw, 9.375rem);
    background-repeat: no-repeat;
}

.fav-box {
    color: #fff;
    text-align: center;
    font-family: "Source Sans Pro";
}

.fav-boxes {
    justify-content: space-between;
}

.fav-box img {
    width: clamp(4.6875rem, 4.2375rem + 2.25vw, 6.9375rem);
}

.fav-box h4 {
    font-size: clamp(1.25rem, 1.125rem + 0.625vw, 1.875rem);
    letter-spacing: 2px;
    color: #f4f5f9;
    font-weight: 700;
    padding: 14px 0 7px 0;
}

.fav-box p {
    font-size: clamp(0.8125rem, 0.775rem + 0.1875vw, 1rem);
}

.ourpricing-sec {
    padding-top: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
    padding-bottom: clamp(1.25rem, 0.75rem + 2.5vw, 3.75rem);
}

.starter-boxes {
    padding-top: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}

.starter-box {
    width: 32.33%;
    text-align: center;
    background: linear-gradient(to top, #f4f5f9 65%, #999999 35%);
    padding: 40px 0;
}

.starter-center {
    width: 32.33%;
    text-align: center;
    background: linear-gradient(to top, #f4f5f9 65%, #e74c3c 35%);
    padding: 40px 0;
}

.starter-box h3,
.starter-center h3 {
    margin-bottom: 25px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
}

.starter-box p,
.starter-center p {
    font-size: 14px;
    line-height: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    color: #999999;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
    padding: 30px 40px;
}

.choose-btn {
    display: inline-block;
    padding: 8px 15px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Open Sans";
    background-color: #999999;
}

/* Our Team */

.our-team {
    padding-top: clamp(3.125rem, 2.5rem + 3.125vw, 6.25rem);
    background: url(../images/ourteam-bg.png) center, center, no-repeat;
    background-size: cover;
    width: 100%;
}

.ourteam-heading {
    color: #fff;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
    font-family: "Source Sans Pro";
}

.ourteam-heading h2 {
    font-size: clamp(1.125rem, 0.9rem + 1.125vw, 2.25rem);
    letter-spacing: 3px;
    font-weight: 700;
}

.ourteam-heading p {
    font-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem);
    text-align: center;
}

.curve-box img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 50%;
    background-color: #e74c3c;
}

.t-one:hover .overlay,
.t-two:hover .overlay,
.t-three:hover .overlay,
.t-four:hover .overlay,
.t-five:hover .overlay {
    opacity: 0.502;
}

.team-m {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 65%;
    top: 57%;
}

.t-one,
.t-two,
.t-three,
.t-four,
.t-five {
    transition: all .5s;
}

.t-one:hover,
.t-two:hover,
.t-three:hover,
.t-four:hover,
.t-five:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.team-m img {
    width: clamp(1.875rem, 1.5375rem + 1.6875vw, 3.5625rem);
}

.t-one::after,
.t-two::after,
.t-three::after,
.t-four::after,
.t-five::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background: #fff;
    left: 50%;
    top: 93%;
    position: absolute;
}

.t-one:hover::after,
.t-two:hover::after,
.t-three:hover::after,
.t-four:hover::after,
.t-five:hover::after {
    width: 1px;
    height: 70px;
    transition: all .5s;
}



.t-data span {
    font-size: clamp(0.5rem, 0.3rem + 1vw, 1.5rem);
    color: #e74c3c;
    font-weight: 600;
    font-family: "Open Sans";
}

.t-data p {
    font-size: clamp(0.4375rem, 0.35rem + 0.4375vw, 0.875rem);
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Source Sans Pro";
}

.t-data {
    text-align: center;
    position: absolute;
    width: clamp(4.6875rem, 4.125rem + 2.8125vw, 7.5rem);
    color: #fff;
    left: -30px;
    bottom: -117px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s linear;
}

.t-one:hover .t-data,
.t-two:hover .t-data,
.t-three:hover .t-data,
.t-four:hover .t-data,
.t-five:hover .t-data {
    visibility: visible;
    opacity: 1;
}



.t-one {
    top: 52px;
}

.t-four {
    top: 30px;
}

.t-five {
    top: -50px;
}

.great-sec {
    padding-top: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
    padding-bottom: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
    background: #f4f5f9;
    border-bottom: 1px solid #d8d9db;
}

.great h2 {
    letter-spacing: 0;
}

.great p {
    width: 50%;
    padding: 10px 0;
}

.great-column {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    gap: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem);
}

.great-column img {
    width: 100%;
    height: 100%;
    filter: brightness(0.9);
    transition: all 1s;
    cursor: pointer;
}

.great-column img:hover {
    filter: grayscale(100%);
}

.our-blog {
    padding-top: clamp(1.5625rem, 1rem + 2.8125vw, 4.375rem);
    padding-bottom: clamp(1.5625rem, 1rem + 2.8125vw, 4.375rem);
    background: #f4f5f9;
}

.content {
    background-color: #e74e3e;
    padding: 60px 50px;
    font-family: "Open Sans";
    color: #ffffff;
    position: relative;
}

.content span {
    font-size: 14px;
    font-weight: 400;
}

.content h3 {
    font-size: clamp(0.9375rem, 0.825rem + 0.5625vw, 1.5rem);
    letter-spacing: 1px;
    font-weight: 600;
    margin: 29px 0 50px 0;
    position: relative;
}

.content h3::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 4px;
    background: #ffffff;
    left: 0;
    bottom: -25px;
}

.c-top::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    left: -20px;
    top: 50%;
    transform: rotate(45deg);
}

.c-right::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #e74c3c;
    right: -20px;
    top: 50%;
    transform: rotate(45deg);
}

.content p {
    font-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem);
    line-height: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
    font-weight: 400;
}

.content a {
    font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
    line-height: 24px;
    color: #ffffff;
    font-style: italic;
    margin-top: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
    display: inline-block;
    transition: all .7s;
}

.content a:hover {
    color: #000;
}

.blog-column {
    padding-top: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.blog-column img {
    width: 100%;
    height: 100%;
}

.keep-sec {
    padding-top: clamp(0.9375rem, 0.5rem + 2.1875vw, 3.125rem);
    padding-bottom: clamp(0.9375rem, 0.5rem + 2.1875vw, 3.125rem);
    background: #f4f5f9;
}

.keep-wrapper {
    padding-top: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
}

.keep-adr {
    width: 40%;
    background-color: #fff;
    padding: clamp(1.875rem, 0rem + 4.1667vw, 5rem);
}

.keep-form {
    width: 58%;
    background-color: #fff;
    padding: clamp(1.25rem, -1.75rem + 6.6667vw, 6.25rem);
}

.adr {
    margin: 50px 0;
}

.adr span {
    font-size: clamp(1.125rem, 0.9rem + 0.5vw, 1.5rem);
    line-height: clamp(0.625rem, -0.275rem + 2vw, 2.125rem);
    display: block;
    color: #e74e3e;
    font-weight: 600;
    font-family: "Source Sans Pro";
}

.adr a {
    display: block;
    font-size: clamp(0.8125rem, 0.625rem + 0.4167vw, 1.125rem);
    color: #999999;
    font-weight: 400;
    font-family: "Open Sans";
    padding-top: 12px;
}

.keep-form form input {
    display: block;
    width: 90%;
    border: 0;
    outline: none;
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
    padding: 12px 0;
}

.keep-form form input::placeholder,
.keep-form form textarea::placeholder {
    font-size: clamp(0.6875rem, 0.65rem + 0.1875vw, 0.875rem);
    line-height: 24px;
    color: #999999;
    font-family: "Open Sans";
}


.keep-form form textarea {
    width: 90%;
    border: 0;
    outline: none;
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
}

.keep-form form input[type="submit"] {
    width: 35%;
    border: 0;
    background-color: #e74c3c;
    font-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem);
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    transition: all .5s;
    cursor: pointer;
}

.keep-form form input[type="submit"]:hover {
    background: #999;
    color: #000;
}

footer {
    background: url(../images/footer-bg.png);
    padding-top: clamp(5rem, 4.5rem + 2.5vw, 7.5rem);
    padding-bottom: clamp(5rem, 4.5rem + 2.5vw, 7.5rem);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-top {
    text-align: center;
    color: #FFF;
    font-weight: 400;
    font-family: "Open Sans";
}

.footer-top h2 {
    font-size: clamp(0.9375rem, 0.675rem + 1.3125vw, 2.25rem);
}

.footer-top p {
    padding-top: clamp(0.5rem, 0.4125rem + 0.4375vw, 0.9375rem);
    padding-bottom: clamp(0.625rem, 0.375rem + 1.25vw, 1.875rem);
    ;
    font-size: clamp(0.6875rem, 0.625rem + 0.3125vw, 1rem);
}

.footer-top a {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    font-size: clamp(0.6875rem, 0.625rem + 0.3125vw, 1rem);
    transition: all .5s;
}

.footer-top a:hover {
    background-color: #f3f3f3;
    color: #000;
}

.botm-footer {
    padding-top: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    padding-bottom: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    background-color: #202020;
}

.botm-footer a {
    font-size: 14px;
    color: #999999;
    font-family: "Open Sans";
    transition: all .5s;
}

.botm-footer a:hover {
    color: #e74c3c;
}
.f-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.showrocket a i {
    color: #fff;
}

.bottom-btn {
    display: inline-block;
    position: fixed;
    bottom: clamp(0.9375rem, 0.375rem + 2.8125vw, 3.75rem);
    right: clamp(0.9375rem, 0.375rem + 2.8125vw, 3.75rem);
    z-index: 99;
}

.bottom-btn a img {
    width: clamp(2.625rem, 2.3625rem + 1.3125vw, 3.9375rem);
}

@media only screen and (max-width: 1320px) {
    .container {
        width: 85.5%;
    }

    .great p {
        width: 100%;
    }

    .team-m {
        width: 80%;
        top: 60%;
    }

    .t-two {
        top: 15px;
    }

    .t-one {
        top: 75px;
    }

    .t-four {
        top: 20px;
    }

    .t-one:hover::after,
    .t-three:hover::after,
    .t-four:hover::after,
    .t-five:hover::after {
        height: 36px;
    }

    .t-data {
        bottom: -75px;
    }

}

@media only screen and (max-width: 1092px) {
    .banner-content {
        width: 65%;
    }
}

@media only screen and (max-width: 992px) {
    .we-box {
        margin-bottom: 15px;
        width: 50%;
        padding: 20px;
    }

    .web-box p {
        width: 75%;
    }

    .recent-links ul li a {
        font-size: 9px;
    }

    .recent-links ul li span {
        padding: 0 10px;
    }

    .case-left {
        gap: 12px;
        width: 40%;
        padding: 25px 0;
        left: 35px;
    }

    .team-m {
        width: 85%;
    }

    .t-one {
        top: 47px;
    }

    .t-four {
        top: 13px;
    }


    .blog-column {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    .tabs {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }


}

@media only screen and (max-width: 720px) {
    .swiper {
        height: 500px;
    }

    .banner-content {
        width: 65%;
        z-index: 1;
    }

    .our-history p {
        padding: 10px 0;
    }

    .myslider {
        transform: unset;
    }

    .our-service-text {
        width: 100%;
        padding-right: 20px;
    }

    .wd-icon {
        top: clamp(3.75rem, 5.1339rem + -6.9196vw, 1.8125rem);
        right: clamp(-4.375rem, -2.4107rem + -9.8214vw, -7.125rem);
    }

    .our-service-img {
        width: 100%;
    }

    .left-our {
        left: 40px;
        top: 38%;
    }

    .starter-center,
    .starter-box {
        width: 100%;
        margin-bottom: 12px;
    }

    .wd-icon {
        width: clamp(3.125rem, 2.0536rem + 5.3571vw, 4.625rem);
    }

    .keep-adr {
        width: 100%;
        margin-bottom: 12px;
    }

    .keep-form {
        width: 100%;
    }
}

@media only screen and (max-width: 567px) {

    header {
        position: fixed;
        z-index: 99;
        background-color: #000;
    }

    .swiper-slide::after {
        clip-path: polygon(0% 0%, 100% 0, 100% 93%, 51% 100%, 0 93%);
    }

    .main-header {
        padding: 20px 0;
    }

    .menus img {
        display: block;
    }

    .menus-links {
        display: none;
        width: 100%;
        position: absolute;
        background: #000;
        left: 0;
        top: 75px;
        text-align: center;
        align-items: center;
        padding: 50px 0;
        z-index: 999 !important;
    }

    .menus-links li {
        display: flex;
        justify-content: center;
    }

    .menus ul li a {
        margin: 12px 0;
    }

    .menus ul li a::after {
        left: 7px;
    }

    .great-column {
        padding: 15px 0;
    }

    .we-box {
        margin-bottom: clamp(0rem, -0.8097rem + 4.0486vw, 0.625rem);
        width: 100%;
    }

    .monitor,
    .our-history {
        width: 100%;
    }

    .our-history {
        padding-left: 0;
        margin-top: 12px;
    }

    .recent-links {
        padding: 10px 0;
        text-align: center;
    }

    .case-wrapper {
        justify-content: unset;
    }

    .case-left {
        gap: 12px;
        width: 100%;
        padding: 15px 0;
        left: 0;
    }

    .case-right {
        width: 100%;
    }

    .t-two {
        top: 14px;
    }

    .t-five {
        top: -25px;
    }

    .img-column {
        padding-top: 10px;
        column-count: 2;
    }

    .blog-column {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    }

    .t-one:hover::after,
    .t-three:hover::after,
    .t-four:hover::after,
    .t-five:hover::after {
        height: 15px;
    }

    .t-two:hover::after {
        left: 45%;
        height: 15px;
    }

    .our-history p {
        padding: 10px 0;
    }

    .t-data {
        bottom: -40px;
    }

    .b-footer {
        justify-content: center;
        gap: 15px;
    }

    .blog-column {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .tabs {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .tabs img {
        width: 100%;
    }

    .c-top::after,
    .c-right::after {
        display: none;
    }

    .order {
        order: 6 !important;
    }

    .content {
        padding: 50px 25px;
    }

    .button {
        padding: 5px 5px !important;
        margin-bottom: 5px !important;
    }

    .r-text h3::after {
        width: 23px;
        height: 2px;
        left: 17px;
    }
    .slick-dots {
        left: -40px;
    }

}

@media only screen and (max-width: 385px) {
    .team-m {
        top: 65%;
    }

    .t-one {
        top: 25px;
    }

    .t-three {
        top: 7px;
    }

    .t-data {
        bottom: -35px;
        left: -22px;
    }

    .fav-box {
        width: 100%;
        margin-bottom: 10px;
    }

    .great p {
        padding: 0;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        padding: 6px 8px;
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        padding: 6px 8px;
    }

    .great h2 {
        text-align: center;
    }

    .content h3 {
        margin: 14px 0 36px 0;
    }

    .slick-dots {
        left: -30px;
    }
}



.f-left i {
    color: #999999;
    font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
    transition: all .5s;
    cursor: pointer;
}

.f-left i:hover {
    color: #e74c3c;
    transform: scale(1.1);
}

/* Isotop */

.wrapper {
    width: 100%;
}

.button-group.filters-button-group {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
}

.btn {
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 15px;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}

/* ---- button ---- */

.button {
    display: inline-block;
    padding: 10px 18px;
    margin-bottom: 10px;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background: #f3f3f3;
    font-size: 14px;
    color: #999999;
    font-family: "Open Sans";
    cursor: pointer;
}

.button:hover {
    color: #e74c3c;
}

.button:active,
.button.is-checked {
    color: #e74c3c;
}


/* ---- button-group ---- */

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
    font-family: arial;
    text-transform: uppercase;
    font-size: clamp(0.5625rem, 0.525rem + 0.1875vw, 0.75rem);
    letter-spacing: 1px;
    background: transparent;
}

.button span {
    padding-left: 10px;
}


/* ---- isotope ---- */

.grid {
    border: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 0;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .element-item ---- */

.element-item {
    position: relative;
    float: left;
    width: 25%;
    padding: 0;
    overflow: hidden;
}

.element-item img {
    max-width: 100%;
    height: auto;
}

.element-item>* {
    margin: 0;
    padding: 0;
}